<template>
    <div class="ActionItem-list">
        <h1>Action Items</h1>
         <button class ="btn btn-primary" @click="$router.push({name: 'AddActionItem' })">Add New Action Item</button>
        <actionItem-list :actionitems="actionitems"/>
    </div>
    
</template>
    <script>

    import {ActionItemDataAccess as da} from "@/api"
    import ActionItemList from "@/components/ActionItemList.vue"


    export default {
        components:{
            ActionItemList
                
        },
        data(){
            return {
            actionitems: []
            }
        },
        mounted(){
            da.getAllActionItems()
            .then(response => {
                console.log(response.data);
                this.actionitems = response.data
            })
            .catch(error => console.log(error));
        }
    }
    </script>