
<template>
 
   <div v-if="actionItem" class="ActionItem-details">
        <form @submit.prevent="onSubmit">
            <div>
                <label  class = "form-label">Description:</label>
                <input  class = "form-control" v-model="actionItem.actionDescription" />
                <span class="validation" v-if="errors.actionDescription">{{errors.actionDescription}}</span>
            </div>
            <div>
                <label  class = "form-label">Path:</label>
                <input class = "form-control"  v-model="actionItem.filePath" />
                <span class="validation" v-if="errors.filePath">{{errors.filePath}}</span>
            </div>
            <div>
                <label  class = "form-label">Status:</label>
                <input  class = "form-control"  v-model="actionItem.completionStatus" />
                <span class="validation" v-if="errors.completionStatus">{{errors.completionStatus}}</span>
            </div>
            <div>
                <label  class = "form-label">Parent Task:</label>
                <input class = "form-control"  v-model="actionItem.parentTask" />
                <span class="validation" v-if="errors.parentTask">{{errors.parentTask}}</span>
            </div>
      
            <div>
                <input class ="btn btn-primary" type="submit" id="btnSubmit" name="submit button">
                <input class ="btn btn-primary" type="button" @click="$router.push({name:'ActionItems'})" value="Cancel">
            </div>
        </form>
    </div>
</template>

<script>
import {ActionItemDataAccess as ada} from "@/api"
export default {
    props:["actionItemId"],
     data(){
        return{
            actionItem:null,
            errors: {}
        }
    },
     mounted(){
         if(this.actionItemId > 0){
        ada.getActionItemById(this.actionItemId).then(resp => {
             this.actionItem = resp.data
            
        });
     }else{
         this.actionItem = {id:0};
       
     }
    
     
    },
    methods:{
        onSubmit() {
           if(this.validate()){
          
              if(this.actionItemId > 0){
                  ada.updateActionItem(this.actionItem).then(resp => {
                   this.$router.push({name: 'ActionItems'});
               });
              }else{
                    ada.insertActionItem(this.actionItem).then(resp => {
                    this.$router.push({name: 'ActionItems'});
         
              });
            }
               
           }
        },
          validate(){

            // clear our any error messages from the previous submit
            this.errors = {};

            if (!this.actionItem.actionDescription) {
                this.errors.actionDescription = "actionItem Description name is required";
            }

            if (!this.actionItem.filePath) {
                this.errors.filePath = "actionItem file path is required";
            }

            
            if (!this.actionItem.completionStatus) {
                this.errors.completionStatus = "completion status is required";
            }

            if (!this.actionItem.parentTask ) {
                this.errors.parentTask = "Parent task id is required";
            }

            // if there are no keys in the errors object, then everything is valid
            return Object.keys(this.errors).length == 0;
        }
    }

}
</script>

<style>
   label, .validation{ display: block; }
    .validation{ color:red; }
</style>