<template>
    <div class= "project-list">
        <h1>Projects</h1>
       <button class ="btn btn-primary" button @click="$router.push({name: 'AddProject' })">Add New Project</button>
        <project-list :projects="projects" />
    </div>
    
</template>

  <script>

    import {ProjectDataAccess as da} from "@/api"
    import ProjectList from "@/components/ProjectList.vue"

    export default {
        components:{
        ProjectList
                
        },
        data(){
            return {
            projects: []
            }
        },
        mounted(){
            da.getAllProjects()
            .then(response => {
                console.log(response.data);
                this.projects = response.data
            })
            .catch(error => console.log(error));
        }
    }
</script>