<template>
    <div v-if="project" class="project-details">
        <form @submit.prevent="onSubmit">
            <div>
                <label  class = "form-label">Project Name:</label>
                <input class = "form-control" v-model="project.projectName" />
                <span class="validation" v-if="errors.projectName">{{errors.projectName}}</span>
            </div>
            <div>
                <label  class = "form-label">Description:</label>
                <input class = "form-control" v-model="project.projectDescription" />
                <span class="validation" v-if="errors.projectDescription">{{errors.projectDescription}}</span>
            </div>
            <div>
                <label  class = "form-label">Directory:</label>
                <input class = "form-control" v-model="project.projectDirectory" />
                <span class="validation" v-if="errors.projectDirectory">{{errors.projectDirectory}}</span>
            </div>
             <div>
                <label  class = "form-label">projectOwner:</label>
                <input class = "form-control" v-model="project.projectOwner" />
                <span class="validation" v-if="errors.projectOwner">{{errors.projectOwner}}</span>
            </div>
        
            <!--<div>
 
                <label>Active:</label>
                

            </div>-->
            <div>
                <input class ="btn btn-primary" type="submit" id="btnSubmit" name="submit button">
                <input class ="btn btn-primary" type="button" @click="$router.push({name:'Projects'})" value="Cancel">
            </div>
        </form>
    </div>
</template>

<script>
import {ProjectDataAccess as pda} from "@/api"

export default {
    props:["projectId"],
    data(){
        return{
            project:null,
            errors: {}
        }
    },
    mounted(){
        if(this.projectId > 0){
        pda.getProjectById(this.projectId).then(resp => {
            this.project = resp.data
        });
    }else{
        this.project = {id: 0};
    }
        // TODO: Get all the user roles here
    },
    methods:{
        onSubmit() {
            if(this.validate()){  
                if(this.projectId > 0){
               console.log("Input is valid");
               pda.updateProject(this.project).then(resp => {
                   this.$router.push({name: 'Projects'});
               })}else{
                    pda.insertProject(this.project).then(resp => {
                   this.$router.push({name: 'Projects'});
               });
               
            }
             }
        /*
          onSubmit() {
           if(this.validate()){
              if(this.userId > 0){
                uda.updateUser(this.user).then(resp => {
                    this.$router.push({name: 'Users'});
                });
              }else{
                 uda.insertUser(this.user).then(resp => {
                    this.$router.push({name: 'Users'});
                }); 
              }
           }
        }
        */
         
    },    validate() {

            // clear our any error messages from the previous submit
            this.errors = {};

            if (!this.project.projectName) {
                this.errors.projectName = "Project name is required";
            }

            if (!this.project.projectDescription) {
                this.errors.projectDescription = "Description is required";
            }

           
            if (!this.project.projectDirectory) {
                this.errors.projectDirectory = "Directory is required";
            }

              if (!this.project.projectOwner) {
                this.errors.projectOwner = "A valid owner id is required";
            }
            // if there are no keys in the errors object, then everything is valid
            return Object.keys(this.errors).length == 0;
        }
    }
}
</script>

<style scoped>
    label, .validation{ display: block; }
    .validation{ color:red; }
</style>