<template>
    <div class="task-list">
        <h1>Tasks</h1>
         <button class ="btn btn-primary" @click="$router.push({name: 'AddTask' })">Add New Task</button>
        <task-list :tasks="tasks"/>
    </div>
</template>

 <script>

    import {TaskDataAccess as da} from "@/api"
    import TaskList from "@/components/TaskList.vue"

    export default {
        components:{
        TaskList
                
        },
        data(){
            return {
            tasks: []
            }
        },
        mounted(){
            da.getAllTasks()
            .then(response => {
                console.log(response.data);
                this.tasks = response.data
            })
            .catch(error => console.log(error));
        }
    }
</script>