<template>
  
  <div v-if="task" class="task-details">
        <form @submit.prevent="onSubmit">
            <div>
                <label  class = "form-label">Task Name:</label>
                <input class = "form-control" v-model="task.taskName" />
                <span class="validation" v-if="errors.taskName">{{errors.taskName}}</span>
            </div>
            <div>
                <label  class = "form-label">Status:</label>
                <input class = "form-control" v-model="task.taskStatus" />
                <span class="validation" v-if="errors.taskStatus">{{errors.taskStatus}}</span>
            </div>
            <div>
                <label  class = "form-label">Date Due:</label>
                <input class = "form-control" v-model="task.dueDate" />
                <span class="validation" v-if="errors.dueDate">{{errors.dueDate}}</span>
            </div>
            <div>
                <label  class = "form-label">Parent Project:</label>
                <input class = "form-control" type="parentProject" v-model="task.parentProject" />
                <span class="validation" v-if="errors.parentProject">{{errors.parentProject}}</span>
            </div>
           
            <div>
                <input class ="btn btn-primary" type="submit" id="btnSubmit" name="submit button">
                <input class ="btn btn-primary" type="button" @click="$router.push({name:'tasks'})" value="Cancel">
            </div>
        </form>
  </div>
</template>

<script>
import{TaskDataAccess as tda} from "@/api"
export default {
    props:["taskId"],
      data(){
        return{
            task:null,
            errors: {}
        }
    },
    mounted(){
        if(this.taskId > 0){
             tda.getTaskById(this.taskId).then(resp => {
            this.task = resp.data
        });
        }else{
            this.task = {id: 0};
        }

        
    },
    methods:{
        onSubmit() {
            if(this.validate()){
                if(this.taskId > 0){
                    tda.updateTask(this.task).then(resp => {
                    this.$router.push({name: 'Tasks'});
                    })
                }else{
                    tda.insertTask(this.task).then(resp => {
                    this.$router.push({name: 'Tasks'});
                });
             
            }
        }
        },
        validate(){

            // clear our any error messages from the previous submit
            this.errors = {};

            if (!this.task.taskName) {
                this.errors.taskName = "Task name is required";
            }

            if (!this.task.taskStatus) {
                this.errors.taskStatus = "Task status is required";
            }

            
            if (!this.task.dueDate) {
                this.errors.dueDate = "due date is required";
            }

            if (!this.task.parentProject ) {
                this.errors.parentProject = "Parent project id is required";
            }

            // if there are no keys in the errors object, then everything is valid
            return Object.keys(this.errors).length == 0;
        }
    
    }
}
</script>

<style scoped>
    label, .validation{ display: block; }
    .validation{ color:red; }
</style>