
<template>
    <div class="ActionItem-list">
        <table class="table">
            <tr>
                <th>Description</th>
                <th>Path</th>
                <th>Status</th>
                <th>Parent Task</th>
                <th></th>
            </tr>
            <tr v-for="a in actionitems" :key="a.id">
                <td>{{a.actionDescription}}</td>
                <td>{{a.filePath}}</td>
                <td>{{a.completionStatus}}</td>
                <td>{{a.parentTask}}</td>
                <td>
                    <button class ="btn" @click="editActionItem(a.id)">Edit</button>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
export default {
    props: {
        actionitems:{
            type: Array
        }
    },
    methods:{
        editActionItem(id){
           // alert("TODO: edit actionitems: " + id);
           this.$router.push({name:'ActionItemDetails', params: {actionItemId:id}})
        }
    }
}
</script>
