    <!--
    <template>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark px-4">
                
                <router-link class="navbar-brand" to="/">Home</router-link>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                    <li class="nav-item">                       
                        <router-link class="nav-link" :to="{name: 'Users'}">Users</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name: 'Projects'}">Projects</router-link>
                    </li>
                      <li class="nav-item">
                        <router-link class="nav-link"  :to="{name: 'Login'}">Login</router-link>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>    
                    </ul>
                </div>  
            </nav>
    </template>

    <script>
    export default {

    }
    </script>
-->
    <template>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark px-4">
        <span class="text-white p-1 m-1 text-end" v-if="GStore.currentUser">Hello {{GStore.currentUser.firstName}} &nbsp;</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link class="nav-link" to="/">Home</router-link> 
            </li>
           
            <li class="nav-item">
                <router-link class="nav-link" :to="{name: 'Projects'}">Projects</router-link>
            </li>
              <li class="nav-item">
                <router-link class="nav-link" :to="{name: 'Tasks'}">Tasks</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" :to="{name: 'ActionItems'}">Action Items</router-link>
            </li>
            <li v-if="GStore.currentUser && GStore.currentUser.roleId == 2" class="nav-item">
              <router-link class="nav-link" :to="{name: 'Users'}">Users</router-link> 
            </li>

            <li class="nav-item" v-if="GStore.currentUser == null">
                <router-link class="nav-link" :to="{name: 'Login'}">Login</router-link>
            </li>
            <li v-else class="nav-item">
              <router-link class="nav-link" :to="{name: 'Login'}">Log Out</router-link>
            </li>
          </ul> 
        </div>
      </nav>
    </template>

    <script>
    export default {
        inject: ['GStore'] 
    }
    </script>
