<template>
    <div class="project-list">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Directory</th>
                <th>Owner</th>
                <th></th>
            </tr>
            <tr v-for="p in projects" :key="p.id">
                <td>{{p.projectName}}</td>
                <td>{{p.projectDescription}}</td>
                <td>{{p.projectDirectory}}</td>
                <td>{{p.projectOwner}}</td>
                <td>
                    <button class ="btn" @click="editProject(p.id)">Edit</button>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
export default {
    props: {
        projects:{
            type: Array
        }
    },
    methods:{
        editProject(id){
            
        //alert("TODO: edit user: " + id);
        this.$router.push({name:'ProjectDetails', params: {projectId:id}})
    

        }
    }
}
</script>