<template>
    <div class="Task-list">
        <table class="table">
            <tr>
                <th>Task Name</th>
                <th>Status</th>
                <th>Date Due</th>
                <th>Parent Project</th>
                
            </tr>
            <tr v-for="t in tasks" :key="t.id">
                <td>{{t.taskName}}</td>
                <td>{{t.taskStatus}}</td>
                <td>{{t.dueDate}}</td>
                <td>{{t.parentProject}}</td>
                <td>
                    <button class ="btn " @click="editTask(t.id)">Edit</button>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
export default {
    props: {
        tasks:{
            type: Array
        }
    },
    methods:{
        editTask(id){
           // alert("TODO: edit user: " + id);
            this.$router.push({name:'TaskDetails', params: {taskId:id}})
        }
    }
}
</script>