<template>
    <div class="user-list ">
        <table class="table" >
            <tr>
                <th>User</th>
                <th>Email</th>
                <!-- <th>Role</th> -->
                <th>Active</th>
                <th></th>
            </tr>
            <tr v-for="u in users" :key="u.id">
                <td>{{u.firstName + " " + u.lastName}}</td>
                <td>{{u.email}}</td>
                <td>{{u.roleName}}</td>
                <td>{{u.active}}</td>
                <td>
                    <button class ="btn" @click="editUser(u.id)">Edit</button>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
import UserDetailsVue from '../views/UserDetails.vue'
export default {
    props: {
        users:{
            type: Array
        }
    },
    methods:{
        editUser(id){
           // alert("TODO: edit user: " + id);
           this.$router.push({name:'UserDetails', params:{userId:id}})
        }
    }
}
</script>