
    <template>
        <div id="app" >
            <nav-bar />
            <router-view class = "p-4"/>
        </div>
    </template>

    <script>
    import NavBar from './components/NavBar.vue'

    export default {
    components:{
        NavBar
        },
    }
    </script>


    <style>
    @import './assets/main.css';
    </style>
